body {
    background-image: radial-gradient(circle at top, #CCDAE0, #EDF2F4);
}


header {
    text-align: center;
}
h1 {
    color: #EF233C;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
}
h3 {
    color: #2B2D42;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline dotted;
}
section {
    border: solid 1px black;
}
img {
    margin-right: auto;
    margin-left: auto;
    border: solid 2px #8D99AE;
}
footer {
    text-align: right;
}
ul {
    list-style-type: none;
}
a:link {
    color: #D90429;
}
a:visited {
    color: grey;
}
a:hover {
    color: #2B2D42;
}
span {
    color: red;
}